use flake

export DATABASE_URL="postgres://postgres:postgres@localhost:5432/mci"

export MCI_LOG_LEVEL="debug"
# export MCI_KEY_PATH="certs/key.pem"
# export MCI_CERT_PATH="certs/cert.pem"
export MCI_S3_URL="http://localhost:8333"
export MCI_DATABASE_URL="postgres://postgres:postgres@localhost:5432/mci"
